<?xml version="1.0" encoding="UTF-8"?>
<config>

    <!-- we are defining a new tab -->
    <tabs>
        <!-- our tab unique short name -->
        <magears>
            <!-- the title of our tab in the admin panel sidebar -->
            <label>Magears</label>
            <sort_order>100</sort_order>
        </magears>
    </tabs>
    
    

    <!-- we are adding a new section to our tab -->
    <sections>

        <!-- unique shortname for our section -->
        <magears_affiliate>

            <!-- the title of our section in the sidebar -->
            <label>Affiliate Tracking</label>

            <!-- the tab under which we want our section to appear -->
            <tab>magears</tab>

            <!-- order of section relative to our tab -->
            <sort_order>10</sort_order>

            <!-- visibility of our section -->
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <!-- we are adding some new groups to our section -->
            <groups>

                <!-- the unique short code for our group -->
                <general>

                    <!-- the title of our group -->
                    <label>General Settings</label>

                    <!-- order of group relative to the section -->
                    <sort_order>10</sort_order>

                    <!-- visibility of our group -->
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <!-- we are adding some new fields to our group -->
                    <fields>

                        <!-- the unique short code for our field -->
                        <status>

                            <!-- the label of our field -->
                            <label>Enabled</label>

                            <!-- the type of our field -->
                            <frontend_type>select</frontend_type>

                            <!-- the source of our 'select' type -->
                            <source_model>
                                adminhtml/system_config_source_enabledisable
                            </source_model>

                            <!-- order relative to the group -->
                            <sort_order>10</sort_order>

                            <!-- visibility of our field -->
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </status>
                        <merchant_id>
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchant_id>
                    </fields>
                </general>
                <cookie>
                    <label>Cookie Settings</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <timeout>
                            <label>Cookie Timeout</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>

                            <!-- 
                                we can add a comment that
                                will appear below the field
                            -->
                            <comment><![CDATA[
                                This is the amount of time
                                an affiliate cookie will last, in days
                            ]]></comment>
                        </timeout>
                    </fields>
                </cookie>
            </groups>
        </magears_affiliate>
    </sections>
    
    
    
    

</config>